@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&display=swap');

 h1{
     font-family: "Monsieur La Doulaise", cursive;
     font-size: 64px;
    color:rgb(4, 4, 114);
    text-align: center;
        }

 p{
    color: rgb(104, 146, 182);
    text-align: justify;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
         }
#p2{
    color: rgb(4, 4, 114);
    text-align: justify;
    font-size: 25px;
    font-family: "Inter", sans-serif;
}
body{
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p2/14903353-fundo-gradiente-azul-e-branco-abstrato-ilustracao-abstrata-com-design-de-desfoque-de-gradiente-gradiente-colorido-gratis-foto.jpg');
    background-size: full;
}

img{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid rgb(4, 4, 114);
    display: flex;
    border-radius: 30px;
    
}
figure{
    
    color: rgb(4, 4, 114);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: fit-content;
    font-family: "Inter", sans-serif;
}
figcaption{
    color: rgb(4, 4, 114);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: fit-content;
    font-family: "Inter", sans-serif;
}
h2{
    color: rgb(4, 4, 114);
    font-size: 40px;
    text-align: center;
     font-family:'monsieur la doulaise', cursive;
}
a{
    text-align: center;
    justify-content: center;
    display: flex;
     font-family:'monsieur la doulaise', cursive;
     font-size: 35px;
     color: rgb(4, 4, 114);
     text-decoration: underline rgb(71, 109, 142);
     gap: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
}
ol{
    color: rgb(4, 4, 114);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    margin-left: 200px;
}
ul{
    color: rgb(71, 109, 142);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    margin-left: 200px;
}
dl{
    color: rgb(4, 4, 114);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    margin-left: 200px;
}
dt{
    color: rgb(45, 59, 134);
    font-size: 30px;
     font-family:'monsieur la doulaise', cursive;
    
}

hr{
    background-color: rgb(4, 4, 114); 
    border: none;
    height: 3px;
}
.ancora{
    display: flex;
    gap: 30px;
    justify-content: center;
    color: rgb(4, 4, 114);
    font-size: 40px;
    text-decoration-color: rgb(71, 109, 142);
    margin-bottom: 20px;
    font-family:'monsieur la doulaise', cursive;
}